<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <nav style="background-color: green;">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Servicio Tecnico</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'registro:inicio'%}">Inicio</a></li>
            <li><a href="{% url 'registro:lista'%}"> Lista Equipos</a></li>
  
          </ul>
        </div>
      </nav>
    <title>{% block titulo %}Formulario{% endblock titulo%}</title>
</head>
<body>
    {% block contenido %}
    <div class="container">
        <h1>Formulario Ingreso de Equipo</h1><br>

    <form method="post">
        {% csrf_token %}
        {{form.as_p}}<br>
        
        
        
        <center><button type="submit">Crear y Editar</button></center>
    
     </form>
    </div>
    {% endblock contenido %}
</body>
</html>